<div id="layout-container">
    <div id="layout-content">
        <div id="header">
            <div class="title">Obserwowani</div>
            <span>Miejsce, do którego trafiają nowe, niezweryfikowane posty.</span> <br>
            <span>Oceniaj posty, aby mogły one trafić na główną stronę.</span>
        </div>

        <div id="amount" [routerLink]="'/obserwowani/uzytkownicy'">32 Użytkowników</div>

        <div id="sorting">
            <div id="left-section">Znaleziono 3 241 posty</div>
            <div id="right-section">
                <app-sorting-form [options]="sortOptions" [selectedOption]="sortOptions[0]" />
            </div>
        </div>
        <app-post-container />

    </div>
    <div id="layout-aside-menu">
        <div class="layout-panel" style="min-height: 250px;">

        </div>
        <div class="layout-panel">
            <app-popular-hashtag />
        </div>
        <div class="layout-panel" style="min-height:  300px;">

        </div>
    </div>
</div>