#container {
  margin-top: 10px;
  min-width: max(400px, 100%);
}
#container #content #header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: relative;
}
#container #content #header #line {
  position: absolute;
  width: 20px;
  height: 2px;
  left: -10px;
  background-color: var(--color-background-60);
}
#container #content #header #line #circle {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  position: absolute;
  top: -4px;
  left: -6px;
  background-color: var(--color-background-60);
}
#container #content #header #basic-information {
  display: flex;
  gap: 5px;
  align-items: center;
  z-index: 10;
}
#container #content #header #basic-information #publication-date {
  color: var(--color-text-white-light);
  font-size: 0.76em;
}
#container #content #header #basic-information #user-avatar {
  width: 36px;
  height: 36px;
}
#container #content #header #button {
  border-radius: 100%;
  color: var(--color-text-white-light);
  font-size: 1.2rem;
  text-align: center;
  line-height: 32px;
  height: 32px;
  width: 32px;
}
#container #content #header #button:hover {
  color: var(--color-text-white);
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
}
#container #content #footer {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  gap: 0px;
  color: var(--color-text-white-light);
}
#container #content #footer #menu {
  display: flex;
  gap: 30px;
}
#container #content #footer .replies {
  z-index: 1;
  padding: 0 15px 0 0;
}
#container #content #footer .replies .icon {
  margin-top: 3px !important;
}
#container #content #footer .replies:hover {
  cursor: pointer;
  color: var(--color-background-120);
}
#container #content #footer .comment {
  display: flex;
  align-items: center;
  gap: 5px;
}
#container #content #footer .comment:hover {
  color: var(--color-background-120);
  cursor: pointer;
}
#container #content #footer .icon {
  font-size: 1.2em;
  margin-top: 1px;
}
#container #content #footer .icon:hover {
  cursor: pointer;
}
#container #replies {
  display: flex;
  gap: 10px;
  position: relative;
  padding: 0 0 0 8px;
  width: 100%;
}
#container #replies #vertical-line {
  width: 2px;
  background-color: var(--color-background-60);
  flex-shrink: 0;
}
#container #replies #replies-wrapper {
  width: 100%;
  height: 0;
}
#container #replies #replies-wrapper.expanded {
  height: auto;
  overflow: visible;
}
#container #replies #replies-wrapper.expanded.scrollable {
  overflow-x: auto;
}
#container #replies #load-more-button {
  border-radius: 10px;
  padding: 3px 10px;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  background-color: var(--color-background-60);
}
#container #replies #load-more-button:hover {
  cursor: pointer;
  background-color: var(--color-background-70);
}
#container #replies #load-more-button:hover #line {
  background-color: var(--color-background-70);
}
#container #replies #load-more-button:hover #circle {
  background-color: var(--color-background-70);
}
#container #replies #load-more-button i {
  margin-right: 10px;
}
#container #replies #load-more-button #line {
  position: absolute;
  width: 20px;
  height: 2px;
  left: -10px;
  top: 14px;
  background-color: var(--color-background-60);
}
#container #replies #load-more-button #circle {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  position: absolute;
  top: -4px;
  left: -6px;
  background-color: var(--color-background-60);
}/*# sourceMappingURL=comment.component.css.map */