<div id="container">
    <div id="content">
        <div id="header">
            @if (isReply) {
            <div id="line">
                <div id="circle"></div>
            </div>
            }

            <div id="basic-information">
                <user-avatar [user]="comment.author" />
                <div>
                    <div id="user-name">
                        {{comment.author.login}}
                    </div>
                    <div id="publication-date">
                        {{comment.createdAt | date:'dd.MM.yyyy HH:mm'}}
                    </div>
                </div>
            </div>
            <comment-menu [authorId]="comment.author.id" />
        </div>

        <comment-content [content]="comment.content"></comment-content>

        <div id="footer">
            @if (comment.reply.totalReplies > 0 || isFormActive) {
            <div class="replies" (click)="isRepliesExpanded = !isRepliesExpanded">
                @if (!isRepliesExpanded) {
                <i class="icon fa-solid fa-angle-down" title="Pokaż odpowiedzi"></i>
                }
                @else {
                <i class="icon fa-solid fa-angle-up" title="Schowaj odpowiedzi"></i>
                }
            </div>
            }
            <div id="menu">
                <comment-rating-section />

                <div class="comment section" (click)="reply()">
                    <i class="icon fa-solid fa-comment"></i>
                    <div class="value">Odpowiedz</div>
                </div>
            </div>
        </div>
    </div>
    <div id="replies">
        <div id="vertical-line">

        </div>
        <div id="replies-wrapper" [ngClass]="{'expanded': isRepliesExpanded, 'scrollable': !isReply}">
            @if (isFormActive) {
            <app-create-comment [id]="comment.id" [isReply]="true" (onSuccess)="addNewComment($event)"
                (onCancel)="isFormActive = false" />
            }
            <div id="replies-container" #repliesContainer>

            </div>
            @if (comment.reply.totalReplies > comment.reply.replies.length) { <div id="load-more-button"
                (click)="loadReplies()">
                <div id="line">
                    <div id="circle"></div>
                </div>
                <i class="fa-solid fa-chevron-down"></i> {{comment.reply.totalReplies - comment.reply.replies.length}}
                @if (comment.reply.totalReplies - comment.reply.replies.length > 1) {
                odpowiedzi
                }
                @else {
                odpowiedź
                }
            </div>
            }
        </div>
    </div>
</div>