#container {
    margin-top: 10px;
    min-width: max(400px, 100%);

    #content {
        #header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            user-select: none;

            position: relative;

            #line {
                position: absolute;
                width: 20px;
                height: 2px;

                left: -10px;

                background-color: var(--color-background-60);

                #circle {
                    width: 10px;
                    height: 10px;

                    border-radius: 100%;
                    position: absolute;
                    top: -4px;
                    left: -6px;

                    background-color: var(--color-background-60);
                }
            }

            #basic-information {
                display: flex;
                gap: 5px;

                align-items: center;
                z-index: 10;

                #publication-date {
                    color: var(--color-text-white-light);
                    font-size: 0.76em;
                }

                #user-avatar {
                    width: 36px;
                    height: 36px;
                }
            }

            #button {
                border-radius: 100%;

                color: var(--color-text-white-light);
                font-size: 1.2rem;

                text-align: center;
                line-height: 32px;

                height: 32px;
                width: 32px;

                &:hover {
                    color: var(--color-text-white);
                    cursor: pointer;
                    background-color: rgba(255, 255, 255, 0.1);
                }
            }
        }

        #footer {
            user-select: none;

            display: flex;
            gap: 0px;
            color: var(--color-text-white-light);

            #menu {
                display: flex;
                gap: 30px;
            }

            .replies {
                z-index: 1;

                padding: 0 15px 0 0;

                .icon {
                    margin-top: 3px !important;
                }

                &:hover {
                    cursor: pointer;
                    color: var(--color-background-120);
                }
            }

            .comment {
                display: flex;
                align-items: center;
                gap: 5px;

                &:hover {
                    color: var(--color-background-120);
                    cursor: pointer;
                }
            }

            .icon {
                font-size: 1.2em;
                margin-top: 1px;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    #replies {
        display: flex;
        gap: 10px;

        position: relative;
        padding: 0 0 0 8px;

        width: 100%;

        #vertical-line {
            width: 2px;
            background-color: var(--color-background-60);

            flex-shrink: 0;
        }

        #replies-wrapper {
            width: 100%;

            height: 0;

            &.expanded {
                height: auto;
                overflow: visible;

                &.scrollable {
                    overflow-x: auto;
                }
            }
        }

        #load-more-button {
            border-radius: 10px;
            padding: 3px 10px;

            width: fit-content;
            position: relative;
            background-color: var(--color-background-60);

            &:hover {
                cursor: pointer;
                background-color: var(--color-background-70);

                #line {
                    background-color: var(--color-background-70);
                }

                #circle {
                    background-color: var(--color-background-70);
                }
            }

            i {
                margin-right: 10px;
            }

            #line {
                position: absolute;
                width: 20px;
                height: 2px;

                left: -10px;
                top: 14px;

                background-color: var(--color-background-60);
            }

            #circle {
                width: 10px;
                height: 10px;

                border-radius: 100%;
                position: absolute;
                top: -4px;
                left: -6px;

                background-color: var(--color-background-60);
            }
        }
    }
}
