<div id="container" (click)="$event.stopPropagation()">
    <i id="button" class="fa-solid fa-ellipsis" (click)="toggleMenu($event)"></i>

    <div id="menu-container" [ngClass]="{'active': isActive}" [style]="{'top': yPos+'px', 'right': xPos+'px'}">
        <div class="section">
            <div class="button" (click)="parent.copyLink($event); toggleMenu($event)">
                <span class="text">Kopiuj link</span>
                <i class="fa-solid fa-arrow-up-right-from-square"></i>
            </div>

            <div class="button">
                <span class="text">Udostępnij</span>
                <i class="fa-solid fa-share-nodes"></i>
            </div>

            <div class="button" (click)="parent.save($event); toggleMenu($event)">
                <span class="text">Zapisz</span>
                <i class="fa-solid fa-bookmark"></i>
            </div>
        </div>
        <div class="dividing-line"></div>
        <div class="section red">
            <div class="button">
                <span class="text">Wycisz</span>
                <i class="fa-solid fa-user-large-slash"></i>
            </div>

            <div class="button">
                <span class="text">Zgłoś</span>
                <i class="fa-solid fa-flag"></i>
            </div>

            @if (hasPermission('DELETE')) {
            <div class="button" (click)="parent.delete($event); toggleMenu($event)">
                <span class="text">Usuń</span>
                <i class="fa-solid fa-trash"></i>
            </div>
            }
        </div>
    </div>
</div>