<div id="container">
    <div id="header">
        <div id="basic-information">
            <div id="user-picture">
                <img
                    src="https://e7.pngegg.com/pngimages/312/283/png-clipart-man-s-face-avatar-computer-icons-user-profile-business-user-avatar-blue-face-thumbnail.png" />
            </div>
            <div>
                <div id="user-name">
                    DreaMPL
                </div>
                <div id="publication-date">
                    24.10.2024 15:32
                </div>
            </div>
        </div>
        <meme-dropdown-menu />
    </div>
    <div id="text">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book.
    </div>
    <div id="content-wrapper">
        <div id="background">
            <img src="/img/meme/meme1.jpg" />
        </div>

        <div id="content">
            <img src="/img/meme/meme1.jpg" />
        </div>
    </div>
    <div id="footer">
        <div class="section">
            <i class="vote-button fa-solid fa-square-caret-up"></i>
            <i class="vote-button fa-solid fa-square-caret-down"></i>

            <div class="value">+324</div>
        </div>
        <div class="section comment">
            <i class="fa-solid fa-comment"></i>

            <div class="value">55</div>
        </div>
        <div id="menu">
            <i class="fa-solid fa-share-nodes"></i>
            <i class="fa-solid fa-bookmark"></i>
        </div>
    </div>
</div>