<div id="container">
    <div id="content">
        @if (collection) {
        <div id="header">
            <div id="owner">
                <div id="user-avatar">
                    <user-avatar [user]="collection.author" />
                </div>

                <user-nick [user]="collection.author" />
            </div>
            <div id="list-name">
                {{collection.name}}
            </div>
        </div>
        }


        <app-post-container />
    </div>

    <div id="aside-menu">
        <div class="panel" style="min-height: 250px;">

        </div>
        <div class="panel" style="min-height: 600px;">

        </div>
        <div class="panel" style="min-height:  300px;">

        </div>
    </div>
</div>