<div id="expandable-item" [ngClass]="{'expanded': isExpanded}">
    <div id="header" (click)="toggleExpandedItem()">
        <div class="title">Kolekcje</div>
        <div class="icon"><i class="fa-solid fa-chevron-down"></i></div>
    </div>

    <div id="container" #container (click)="$event.stopPropagation()" [ngClass]="{'not-initialized': !isInitialized}"
        [ngStyle]="{'max-height': isExpanded ? containerHeight + 'px' : (isInitialized ? '0px' : 'auto')}">
        <ul>
            <li *ngFor="let list of parent.user?.ownedCollections" (click)="selectList(list.uuid)">{{list.name}}</li>
        </ul>
        <div id="create-list-button">
            <i class="fa-regular fa-square-plus"></i> Stwórz kolekcję
        </div>
    </div>
</div>