#container {
  width: min(90%, 1100px);
  min-height: calc(200vh - 60px);
  display: flex;
  gap: 10px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
}
#container #content {
  flex-grow: 1;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px 5px;
  overflow: hidden;
}
#container #content #post-type-container {
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#container #content #post-type-container .type {
  flex: 1;
  padding: 10px 0;
  text-align: center;
  border: 1px solid var(--color-background-60);
  color: var(--color-background-100);
}
#container #content #post-type-container .type:not(:last-child) {
  border-right: 1px solid var(--color-background-60);
}
#container #content #post-type-container .type.selected {
  background-color: var(--color-background-70);
}
#container #content #post-type-container .type:hover {
  cursor: pointer;
  background-color: var(--color-background-60);
}
#container #content #post-container {
  margin-top: 25px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 2px solid var(--color-background-60);
}
#container #content #post-container #header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#container #content #post-container #header #basic-information {
  display: flex;
  gap: 10px;
  align-items: center;
}
#container #content #post-container #header #basic-information #user-picture {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  overflow: hidden;
  float: left;
}
#container #content #post-container #header #basic-information #user-picture img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
#container #content #post-container #header #basic-information #user-name {
  font-weight: 500;
  line-height: 16px;
}
#container #content #post-container #header #basic-information #publication-date {
  color: var(--color-text-white-light);
  font-size: 0.76em;
}
#container #content #post-container #header #button {
  border-radius: 100%;
  color: var(--color-text-white-light);
  font-size: 1.4rem;
  text-align: center;
  line-height: 36px;
  height: 36px;
  width: 36px;
}
#container #content #post-container #header #button:hover {
  color: var(--color-text-white);
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
}
#container #content #post-container #text textarea {
  border: 2px solid var(--color-background-60);
  background-color: var(--color-background-30);
  padding: 5px;
  border-radius: 10px;
  max-height: 300px;
  min-height: 40px;
  height: 40px;
  width: 100%;
  font: inherit;
  color: inherit;
  resize: vertical;
  outline: none;
  display: block;
}
#container #content #post-container #text textarea:focus {
  border: 2px solid var(--color-background-50);
  background-color: inherit;
}
#container #content #post-container #text textarea:not(:-moz-placeholder-shown) {
  border: 2px solid var(--color-background-50);
  background-color: inherit;
}
#container #content #post-container #text textarea:not(:placeholder-shown) {
  border: 2px solid var(--color-background-50);
  background-color: inherit;
}
#container #content #post-container #text textarea:hover {
  border: 2px solid var(--color-background-60);
  background-color: var(--color-background-30);
}
#container #content #post-container #content-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#container #content #post-container #content-wrapper #picture-content-type {
  display: flex;
  gap: 10px;
}
#container #content #post-container #content-wrapper #picture-content-type .section {
  padding: 30px 20px;
  flex: 1;
  text-align: center;
  border-radius: 10px;
  border: 2px dashed var(--color-background-90);
}
#container #content #post-container #content-wrapper #picture-content-type .section .icon {
  font-size: 2em;
  color: var(--color-background-80);
}
#container #content #post-container #content-wrapper #picture-content-type .section .header {
  margin-bottom: 20px;
  font-weight: 600;
  color: var(--color-background-110);
}
#container #content #post-container #content-wrapper #picture-content-type .section .info {
  font-size: 0.8em;
  color: var(--color-background-100);
}
#container #content #post-container #content-wrapper #picture-content-type .section:hover {
  background-color: var(--color-background-60);
}
#container #content #post-container #content-wrapper #preview {
  min-height: 45px;
}
#container #content #post-container #content-wrapper #preview #background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  filter: blur(15px);
}
#container #content #post-container #content-wrapper #preview #background img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#container #content #post-container #content-wrapper #preview #background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}
#container #content #post-container #content-wrapper #preview #content {
  position: relative;
  z-index: 100;
}
#container #content #post-container #content-wrapper #preview #content img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#container #content #post-container #content-wrapper #close-preview-button {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 0 10px;
  border-radius: 6px;
  background-color: rgb(216, 216, 216);
  border: 1px solid #323232;
  color: var(--color-background-30);
  font-size: 1em;
  z-index: 10000;
}
#container #content #post-container #content-wrapper #close-preview-button:hover {
  cursor: pointer;
  background-color: white;
}
#container #content #post-container #footer {
  padding: 0 5px;
  display: flex;
  color: var(--color-text-white-light);
}
#container #content #post-container #footer i {
  font-size: 1.4em;
}
#container #content #post-container #footer i:hover {
  cursor: pointer;
}
#container #content #post-container #footer .section {
  display: flex;
  align-items: center;
  gap: 6px;
}
#container #content #post-container #footer .section .value {
  min-width: 60px;
}
#container #content #post-container #footer .section .vote-button:hover {
  cursor: pointer;
  color: var(--color-text-white);
}
#container #content #post-container #footer .section.comment {
  margin-left: 20%;
}
#container #content #post-container #footer .section.comment:hover {
  color: var(--color-text-white);
  cursor: pointer;
}
#container #content #post-container #footer #menu {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: auto;
}
#container #content #post-container #footer #menu i:hover {
  cursor: pointer;
  color: var(--color-text-white);
}
#container #content #create-post-button {
  background-color: var(--color-theme);
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 30px;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: auto;
}
#container #content #create-post-button:hover {
  background-color: var(--color-theme-accent);
  cursor: pointer;
}
#container #aside-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  flex-shrink: 0;
}
@media (max-width: 1200px) {
  #container #aside-menu {
    display: none;
  }
}
@media (max-width: 1200px) {
  #container {
    width: 96%;
  }
}

.panel {
  background-color: var(--color-background-50);
  border: 2px solid var(--color-background-60);
  border-radius: 10px;
}

.input-area {
  position: relative;
  width: 100%;
  height: 50px;
  overflow: hidden;
  border: 2px solid var(--color-background-60);
  background-color: var(--color-background-30);
  padding: 5px;
  border-radius: 10px;
}
.input-area input {
  width: 100%;
  height: 100%;
  padding: 0 50px 0 10px;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--color-text-white);
  font-weight: 600;
}
.input-area .input-icon {
  color: var(--color-background-70);
  font-size: 1.2em;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translate(0, -50%);
}

.file-input-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid var(--color-background-60);
  background-color: var(--color-background-30);
  position: relative;
}
.file-input-container .file-input {
  flex-shrink: 0;
  margin-left: 6px;
  position: relative;
  overflow: hidden;
}
.file-input-container .file-input input[type=file] {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
  cursor: pointer;
}
.file-input-container .file-input button {
  display: inline-block;
  padding: 10px;
  background-color: var(--color-background-90);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.file-input-container .file-input button:hover {
  background-color: var(--color-background-110);
}
.file-input-container .file-name {
  margin-left: 6px;
  margin-right: 20px;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}/*# sourceMappingURL=create-post.component.css.map */