#wrapper {
    width: 280px;
    height: 100vh;

    background-color: var(--color-background2);
    color: var(--color-text);
    border-right: 2px solid var(--color-background4);

    user-select: none;

    position: sticky;
    top: 50px;

    overflow: hidden;
    z-index: 1000;

    @media (max-width: 1200px) {
        width: 250px;
    }

    @media (max-width: 1000px) {
        width: 0;
    }

    &.active {
        @media (max-width: 1000px) {
            width: 280px;
            position: fixed;
        }
    }
}

#container {
    width: 100%;
    height: 100dvh;

    display: flex;
    flex-direction: column;

    overflow-y: auto;
    scrollbar-gutter: stable;
    -webkit-overflow-scrolling: touch;

    #main-menu {
        flex-grow: 1;

        #logo {
            width: 100%;
            height: 60px;

            display: flex;
            align-items: center;
            justify-content: center;

            cursor: pointer;

            img {
                max-width: 150px;

                height: auto;

                object-fit: cover;
                display: block;
            }
        }

        nav {
            margin-top: 50px;
            padding: 10px 5px;

            ul {
                list-style-type: none;

                li {
                    padding: 5px 10px;

                    i {
                        width: 20px;
                        text-align: center;

                        margin-right: 6px;
                    }

                    &:hover {
                        color: var(--color-theme);
                        cursor: pointer;

                        background-color: var(--color-background);
                    }
                }
            }
        }
    }

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-thumb:hover {
        background-color: transparent;
    }

    &.scrolling {
        &::-webkit-scrollbar-track {
            background: rgba(255, 255, 255, 0.14);
        }

        &::-webkit-scrollbar-thumb {
            background: rgba(255, 255, 255, 0.14);

            &:hover {
                background: rgba(255, 255, 255, 0.24);
            }
        }
    }
}

#settings-section {
    padding: 5px;

    #settings-button {
        text-align: center;
        opacity: 0.3;
        padding: 10px;

        &:hover {
            background-color: var(--color-background);
            color: var(--color-theme);
            cursor: pointer;

            opacity: 1;
        }
    }
}

@media (max-width: 1000px) {
    #backdrop-button {
        position: fixed;
        top: 0;
        left: 0;

        z-index: 10;

        background-color: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(2px);

        user-select: none;

        width: 100vw;
        height: 100vh;
    }
}
