<div id="wrapper" [ngClass]="{'active': service.isActive}">
    <div id="container" #scrollableContainer (scroll)="onScroll()">
        <div id="main-menu">
            <div id="logo" routerLink="/">
                <img src="/img/logo-white.webp" />
            </div>
            <nav>
                <ul>
                    <li><i class="fa-solid fa-house"></i> Strona główna</li>
                    <li><i class="fa-solid fa-hourglass-start"></i> Poczekalnia</li>
                    <li><i class="fa-solid fa-shuffle"></i> Losowe</li>
                    <li><i class="fa-solid fa-compass"></i> Odkrywaj</li>
                    <li><i class="fa-solid fa-eye"></i> Obserwowani</li>
                </ul>
            </nav>

            <div class="dividing-line"></div>
            <app-user-meme-list-aside-menu [saveStatus]="true" />
            <div class="dividing-line"></div>
        </div>

        <div id="settings-section">
            <div id="settings-button">
                <i class="fa-solid fa-gear"></i> Ustawienia
            </div>
        </div>
    </div>
</div>

@if (service.isActive) {
<div id="backdrop-button" (click)="service.toggleMenu()"></div>
}