#container {
  background-color: var(--color-background-50);
  border: 2px solid var(--color-background-70);
  border-radius: 15px;
  overflow: hidden;
  width: 300px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#container #header {
  padding: 20px 20px 10px 20px;
  position: relative;
}
#container #header .text {
  font-size: 1.2em;
}
#container #header i {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.4em;
  color: var(--color-background-90);
  background-color: var(--color-background-70);
  border-radius: 0 0 0 10px;
  padding: 7px 12px;
}
#container #header i:hover {
  cursor: pointer;
  color: var(--color-background-140);
}
#container #user-logged-in #list-container {
  border-top: 1px solid var(--color-background-70);
  border-bottom: 1px solid var(--color-background-70);
  min-height: 100px;
  max-height: 250px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
}
#container #user-logged-in #list-container .item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  border-radius: 10px;
}
#container #user-logged-in #list-container .item > div {
  display: flex;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  margin-right: 10px;
}
#container #user-logged-in #list-container .item > div .label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
}
#container #user-logged-in #list-container .item > div .checkbox {
  flex-shrink: 0;
}
#container #user-logged-in #list-container .item .accessibility {
  width: 30px;
  text-align: center;
  flex-shrink: 0;
}
#container #user-logged-in #list-container .item input[type=checkbox] {
  display: none;
}
#container #user-logged-in #list-container .item .checkbox {
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  cursor: pointer;
}
#container #user-logged-in #list-container .item input[type=checkbox]:checked + .checkbox {
  background-color: #007bff;
  border-color: #007bff;
}
#container #user-logged-in #list-container .item .checkbox::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s ease;
}
#container #user-logged-in #list-container .item input[type=checkbox]:checked + .checkbox::after {
  opacity: 1;
}
#container #user-logged-in #list-container .item:hover {
  cursor: pointer;
  background-color: var(--color-background-30);
}
#container #user-logged-in #footer #button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  font-size: 1.2em;
  margin: 10px;
  border-radius: 10px;
  background-color: var(--color-background-60);
  color: var(--color-background-120);
}
#container #user-logged-in #footer #button i {
  font-size: 1.4em;
}
#container #user-logged-in #footer #button:hover {
  background-color: var(--color-background-70);
  color: var(--color-background-140);
  cursor: pointer;
}
#container #user-logged-in #footer #form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 10px;
}
#container #user-logged-in #footer #form #create-list-button {
  padding: 8px;
  text-align: center;
  background-color: var(--color-theme);
  border-radius: 8px;
}
#container #user-logged-in #footer #form #create-list-button:hover {
  cursor: pointer;
  background-color: var(--color-theme-accent);
}
#container #user-logged-in #footer #form .error {
  color: var(--color-text-red);
}
#container #user-not-logged-in {
  border-top: 1px solid var(--color-background-70);
  padding: 20px;
  width: 100%;
}
#container #user-not-logged-in #panel {
  padding: 40px 10px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.062745098);
}
#container #user-not-logged-in #panel #info {
  text-align: center;
}
#container #user-not-logged-in #panel #sign-in-button {
  margin-top: 30px;
  padding: 6px;
  background-color: var(--color-theme);
  text-align: center;
  border-radius: 10px;
}
#container #user-not-logged-in #panel #sign-in-button:hover {
  cursor: pointer;
  background-color: var(--color-theme-accent);
}
#container #user-not-logged-in #panel .link {
  color: var(--color-theme);
}
#container #user-not-logged-in #panel .link:hover {
  cursor: pointer;
  color: var(--color-theme-accent);
}
#container #user-not-logged-in #panel #sign-up-info {
  font-size: 0.9em;
}

.input-area {
  position: relative;
  width: 100%;
  height: 40px;
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--color-background-30);
  border: 2px solid var(--color-background-120);
}
.input-area input {
  width: 100%;
  height: 100%;
  padding: 0 50px 0 10px;
  border: none;
  outline: none;
  background-color: transparent;
  font-weight: 600;
  color: var(--color-background-120);
}

.select-value-area {
  position: relative;
}
.select-value-area select {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  background-color: var(--color-background-30);
  border: 2px solid var(--color-background-120);
  color: var(--color-background-120);
  font-weight: 600;
  padding: 0 10px;
  outline: none;
}
.select-value-area option {
  background-color: var(--color-background-30);
  color: var(--color-background-120);
}
.select-value-area option:checked {
  color: var(--color-theme);
}/*# sourceMappingURL=save-popup.component.css.map */