<div id="wrapper">
    <header>
        <h1>Zmiana hasła</h1>
        <h3>Zmień hasło i odzyskaj dostęp do konta</h3>
    </header>

    <div id="form-container">
        <auth-input [model]="passwordInput"></auth-input>

        <auth-input [model]="passwordConfirmInput"></auth-input>
    </div>


    <footer>
        <div id="error-message">
            {{errorMessage}}
        </div>
        <auth-submit-button [text]="'Zmień hasło'" [status]="submitButtonStatus" (onSubmit)="onSubmit()" />
        <span class="info">Nie masz konta? <a routerLink="/auth/signUp" class="link">Zarejestruj się</a></span>
    </footer>
</div>