@if (content) {
<div id="container">
    @if (content.type == PostType.IMAGE) {

    <div id="image-type"
        [ngStyle]="{'max-height': isExpanded ? containerHeight + 'px' : (isInitialized ? '1000px' : 'auto')}">

        @if (containerHeight >= 1000 && !isExpanded) {
        <div id="expand-button" (click)="toggleExpandedItem($event)">Rozwiń</div>
        }

        <div id="background">
            <img [src]="content.content" />
        </div>

        <div id="content">
            <img [src]="content.content" #pictureContainer (load)="calculateHeight()" />
        </div>
    </div>

    }
    @else if(content.type == PostType.TIKTOK){
    <div id="tiktok-type">
        <iframe height="600px" width="100%" [src]="getSafeUrl(content.content)" allow="fullscreen"
            title="test"></iframe>
    </div>
    }
</div>
}