<div id="wrapper">
    <div id="left-panel">
        <div id="form-section">
            <header>
                <img routerLink="/" src="/img/logo-dark.webp">
            </header>
            <div id="form-wrapper">
                <router-outlet />
            </div>
            <footer>
                <nav>
                    <ul>
                        <li routerLink="/kontakt">Kontakt</li>
                        <li routerLink="/regulamin">Regulamin</li>
                        <li routerLink="/privacy-policy">Polityka Prywatności</li>
                    </ul>
                </nav>
                <span>xMem.pl &copy; 2025 All Rights Reserved</span>
            </footer>
        </div>
    </div>
    <div id="right-panel">

    </div>
</div>