@import "../../style/base";

#wrapper {
    header {
        #back-button {
            display: flex;
            align-items: center;
            gap: 8px;

            i {
                width: 30px;
                height: 30px;

                border-radius: 8px;
                border: 2px solid #323232;
                background-color: rgb(240, 240, 240);

                display: flex;
                justify-content: center;
                align-items: center;
            }

            i:hover {
                cursor: pointer;
                background-color: rgb(212, 212, 212);
            }
        }

        h1 {
            font-size: 1.5rem;
        }
        h3 {
            font-size: 1rem;
            font-weight: 400;

            opacity: 0.8;
        }
    }

    #form-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 25px;

        .input-container {
            position: relative;

            .action {
                position: absolute;
                top: 3px;
                right: 0;
                font-size: 0.8rem;
                z-index: 10;
            }
        }
    }

    footer {
        margin-top: 50px;

        #error-message {
            font-size: 0.9rem;
            color: $text-color-red;
            text-align: center;
        }

        .info {
            color: #7a8395;

            .link {
                font-weight: 600;
            }
        }
    }
}
