@import "../../style/base";

$color-background: #00000008;
$color-border: rgba(0, 0, 0, 0.052);

$text-color: #7a8395;
$text-incorrect-color: blue;
$color-white: white;
$color-focus: #5db6ff;

.input-wrapper {
    position: relative;

    width: 100%;
    height: fit-content;
    border-radius: 5px;
    color: $text-color;

    label {
        margin-left: 10px;
        font-weight: 500;
    }

    .input-area {
        position: relative;

        input {
            width: 100%;
            padding: 15px 15px 15px 50px;

            color: $text-color;
            font-weight: 600;

            background-color: $color-background;
            border: 1px solid $color-border;
            border-radius: 8px;

            outline: none;

            &:focus {
                border: 1px solid $color-focus;
                background-color: #007bff22;
                color: $color-focus;

                &::placeholder {
                    color: $color-focus;
                }
            }

            &.incorrect {
                background-color: $text-incorrect-color;
                color: $color-white;
            }

            &::placeholder {
                color: $text-color;
                font-weight: 200;
                opacity: 0.5;
            }
        }

        input:not(.incorrect):focus + .icon {
            color: $color-focus;
            border-right: 2px solid $color-focus;
            opacity: 0.5;
        }

        input:not(.incorrect):focus + .icon + .icon-right {
            color: $color-focus;
        }

        .icon {
            color: $text-color;
            width: 40px;

            display: block;
            text-align: center;

            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(0, -50%);

            border-right: 2px solid $text-color;

            opacity: 0.5;
        }

        .icon-right {
            color: $text-color;
            width: 40px;

            display: none;
            text-align: center;

            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(0, -50%);

            opacity: 0.5;
        }
    }

    #error {
        display: none;

        color: $text-color-red;
        font-size: 0.9rem;
    }

    &.incorrect {
        label {
            color: $text-color-red;
        }
        .input-area {
            input {
                color: $text-color-red;

                background-color: #ffdada;
                border: 1px solid $text-color-red;

                &::placeholder {
                    color: $text-color-red;
                }
            }

            .icon {
                color: $text-color-red;
                border-right: 2px solid $text-color-red;
            }

            .icon-right {
                color: $text-color-red;
            }
        }

        #error {
            display: block;
        }
    }

    &.password-input {
        .input-area {
            input {
                padding: 15px 50px 15px 50px;
            }

            .icon-right {
                display: block;
                cursor: pointer;
            }
        }
    }
}

.checkbox-area {
    position: relative;

    display: flex;
    gap: 10px;
    align-items: center;

    input {
        width: 20px;
        height: 20px;

        border: none;
        outline: none;
        background-color: transparent;
        cursor: pointer;
    }

    label {
        color: $text-color;
        font-size: 0.9rem;
    }
}

.link {
    color: $link-color-blue;

    &:hover {
        color: $link-color-blue-dark;
    }
}
