#user-container {
    display: flex;
    flex-direction: column;
    padding: 10px;

    margin-top: 10px;

    .user {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px;

        .user-avatar {
            width: 40px;
            height: 40px;
        }

        &:not(:last-child) {
            border-bottom: 2px solid var(--color-background-60);
        }

        &:hover {
            cursor: pointer;
            background-color: var(--color-background-40);
        }
    }
}

#container {
    width: min(90%, 1100px);
    min-height: calc(200vh - 60px);

    display: flex;
    gap: 10px;

    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;

    #content {
        flex-grow: 1;

        #header {
            .title {
                font-size: 2.5em;
                padding-left: 10px;
                border-left: 5px solid var(--color-theme);
            }

            span {
                opacity: 0.6;
            }
        }

        #amount {
            margin-top: 20px;
            opacity: 0.7;

            &:hover {
                opacity: 1;
                cursor: pointer;
            }
        }

        #sorting {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 20px;
            margin-bottom: -8px;
            font-weight: 300;

            #left-section {
                opacity: 0.5;
                font-size: 0.9em;
            }
        }
    }

    #aside-menu {
        display: flex;
        flex-direction: column;
        gap: 10px;

        width: 300px;
        flex-shrink: 0;

        @media (max-width: 1200px) {
            display: none;
        }
    }

    @media (max-width: 1200px) {
        width: 96%;
    }
}

.panel {
    background-color: var(--color-background-50);
    border: 2px solid var(--color-background-60);
    border-radius: 10px;
}
