#user-container {
    display: flex;
    flex-direction: column;
    padding: 10px;

    margin-top: 10px;

    .user {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px;

        .user-avatar {
            width: 40px;
            height: 40px;
        }

        &:not(:last-child) {
            border-bottom: 2px solid var(--color-background-60);
        }

        &:hover {
            cursor: pointer;
            background-color: var(--color-background-40);
        }
    }
}

#header {
    .title {
        font-size: 2.5em;
        padding-left: 10px;
        border-left: 5px solid var(--color-theme);
    }

    span {
        opacity: 0.6;
    }
}

#amount {
    margin-top: 20px;
    opacity: 0.7;

    &:hover {
        opacity: 1;
        cursor: pointer;
    }
}

#sorting {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: -8px;
    font-weight: 300;

    #left-section {
        opacity: 0.5;
        font-size: 0.9em;
    }
}

#error-container {
    flex-grow: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    .error {
        text-align: center;
        padding: 0 20px;

        .icon {
            font-size: 3em;
        }

        .info {
            font-weight: 600;
        }

        .description {
            opacity: 0.7;
        }
    }
}
