<div id="container" (click)="select()">
    <div id="header">
        <div id="basic-information">
            <user-avatar [user]="post.author" id="user-avatar" />
            <div id="wrapper">
                <user-nick id="user-nick" [user]="post.author" />
                <div id="publication-date">
                    {{post.createdAt | date:'dd.MM.yyyy HH:mm'}}
                </div>
            </div>
        </div>
        <meme-dropdown-menu />
    </div>
    @if (post.text) {
    <div id="text">
        {{post.text}}
    </div>
    }
    <div id="content-wrapper">
        <post-content [content]="content" />
    </div>

    <div id="footer">
        <meme-rating-section />
        <div id="section-container">
            <div class="section">
                <i class="fa-solid fa-comment"></i>

                <div class="value">{{post.commentAmount}}</div>
            </div>
            @if (post.hashtags.length > 0) {
            <div class="section" (click)="hashtagContainer?.toggleComponent($event)">
                <i class="fa-solid fa-hashtag"></i>

                <div class="value">{{post.hashtags.length}}</div>
            </div>
            }
        </div>
        <div id="menu">
            <i class="fa-solid fa-share-nodes" title="Udostępnij post"></i>
            <i class="fa-solid fa-bookmark" (click)="save($event)" title="Zapisz post"></i>
        </div>
    </div>

    @if (post.hashtags && post.hashtags.length > 0) {
    <post-hashtag-container #hashtagContainer [hashtags]="post.hashtags" />
    }
</div>