#container {
    background-color: var(--color-background-50);

    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--color-background-60);

    #header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        user-select: none;

        #basic-information {
            display: flex;
            gap: 5px;

            align-items: center;

            #wrapper {
                #user-nick {
                    line-height: 16px;
                }
            }

            #user-avatar {
                width: 36px;
                height: 36px;
            }

            #publication-date {
                color: var(--color-text-white-light);
                font-size: 0.76em;
            }
        }
    }

    #text {
        margin-top: 5px;
        white-space: pre-line;
    }

    #content-wrapper {
        margin-top: 5px;

        position: relative;
        overflow: hidden;
    }

    #footer {
        margin-top: 5px;

        padding: 0 5px;
        display: flex;
        color: var(--color-text-white-light);

        i {
            font-size: 1.4em;

            &:hover {
                cursor: pointer;
            }
        }

        #section-container {
            display: flex;
            justify-content: space-around;
            flex-grow: 1;

            .section {
                display: flex;
                align-items: center;
                gap: 6px;

                .value {
                    min-width: 60px;
                }

                &:hover {
                    color: var(--color-text-white);
                    cursor: pointer;
                }
            }
        }

        #menu {
            display: flex;
            align-items: center;
            gap: 10px;

            margin-left: auto;

            i:hover {
                cursor: pointer;
                color: var(--color-text-white);
            }
        }
    }

    &:hover {
        cursor: pointer;
        background-color: var(--color-background-60);
        border: 2px solid var(--color-background-70);
    }
}
