<div id="container" (click)="select()">
    <div id="header">
        <div id="basic-information">
            <user-avatar [user]="post.author" id="user-avatar" />
            <div id="wrapper">
                <user-nick id="user-nick" [user]="post.author" />
                <div id="publication-date">
                    {{post.createdAt | date:'dd.MM.yyyy HH:mm'}}
                </div>
            </div>
        </div>
        <meme-dropdown-menu />
    </div>
    @if (post.text) {
    <div id="text">
        {{post.text}}
    </div>
    }
    <div id="content-wrapper">
        <post-content [content]="content" [flags]="post.flags" />
    </div>
    <div id="footer">
        <meme-rating-section />
        <div class="section comment">
            <i class="fa-solid fa-comment"></i>

            <div class="value">{{post.commentAmount}}</div>
        </div>
        <div id="menu">
            <i class="fa-solid fa-share-nodes" title="Udostępnij post"></i>
            <i class="fa-solid fa-bookmark" (click)="save($event)" title="Zapisz post"></i>
        </div>
    </div>
</div>