<div id="container" (click)="select()">
    <div id="header">
        <div id="basic-information">
            <div id="user-picture">
                <img
                    src="https://e7.pngegg.com/pngimages/312/283/png-clipart-man-s-face-avatar-computer-icons-user-profile-business-user-avatar-blue-face-thumbnail.png" />
            </div>
            <div>
                <div id="user-name">
                    {{post.owner.login}}
                </div>
                <div id="publication-date">
                    {{post.createdAt | date:'dd.MM.yyyy HH:mm'}}
                </div>
            </div>
        </div>
        <meme-dropdown-menu />
    </div>
    @if (post.text) {
    <div id="text">
        {{post.text}}
    </div>
    }
    <div id="content-wrapper">
        <post-content [content]="content" />
    </div>
    <div id="footer">
        <meme-rating-section />
        <div class="section comment">
            <i class="fa-solid fa-comment"></i>

            <div class="value">{{post.commentAmount}}</div>
        </div>
        <div id="menu">
            <i class="fa-solid fa-share-nodes" title="Udostępnij post"></i>
            <i class="fa-solid fa-bookmark" (click)="save($event)" title="Zapisz post"></i>
        </div>
    </div>
</div>