@import "../../../style/base";

#button {
    width: 100%;
    height: 50px;

    background-color: $link-color-blue;
    display: flex;

    align-items: center;
    justify-content: center;
    border-radius: 8px;

    font-weight: 600;
    color: white;

    text-align: center;

    &:hover {
        cursor: pointer;
        background-color: $link-color-blue-dark;
    }

    &.loading {
        background-color: $link-color-blue-dark;
        cursor: not-allowed;
    }

    &.disabled {
        display: none;
    }
}
