#container {
    display: flex;
    align-items: center;
    gap: 6px;

    #value {
        min-width: 60px;
    }

    .vote-button {
        font-size: 1.4em;

        &.selected {
            color: var(--color-text-white);
        }

        &:hover {
            cursor: pointer;
            color: var(--color-text-white);
        }
    }
}
