<div id="wrapper">
    <header>
        <h1>Rejestracja</h1>
        <h3>Załóż konto i uzyskaj pełny dostęp</h3>
    </header>

    <div id="form-container">
        <div class="input-wrapper">
            <label for="login">Login</label>
            <div class="input-area">
                <input id="login" type="text" placeholder="Login" maxlength="20" [(ngModel)]="login">
                <div class="icon">
                    <i class="fa-solid fa-user"></i>
                </div>
            </div>
        </div>

        <div class="input-wrapper">
            <label for="email">E-mail</label>
            <div class="input-area">
                <input id="email" type="email" placeholder="E-mail" maxlength="60" [(ngModel)]="email">
                <div class="icon">
                    <i class="fa-solid fa-envelope"></i>
                </div>
            </div>
        </div>

        <div class="input-wrapper">
            <label for="password">Hasło</label>
            <div class="input-area">
                <input id="password" type="password" placeholder="Hasło" maxlength="255" [(ngModel)]="password">
                <div class="icon">
                    <i class="fa-solid fa-lock"></i>
                </div>
            </div>
        </div>

        <div class="input-wrapper">
            <label for="passwordConfirm">Powtórz hasło</label>
            <div class="input-area">
                <input id="passwordConfirm" type="password" placeholder="Powtórz hasło" maxlength="255"
                    [(ngModel)]="passwordConfirm">
                <div class="icon">
                    <i class="fa-solid fa-lock"></i>
                </div>
            </div>
        </div>

        <div class="checkbox-area" style="margin-left: 5px;">
            <input type="checkbox">
            <label>Akceptuje <a class="link" routerLink="/regulamin">Regulamin</a> i <a routerLink="/privacy-policy"
                    class="link">Politykę Prywatności</a></label>
        </div>
    </div>


    <footer>
        <div id="error-response">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's
        </div>
        <div id="submin-button">
            Załóż konto
        </div>
    </footer>
</div>