<div id="wrapper">
    <header>
        <h1>Rejestracja</h1>
        <h3>Załóż konto i uzyskaj pełny dostęp</h3>
    </header>

    <div id="form-container">
        <auth-input [model]="loginInput"></auth-input>

        <auth-input [model]="emailInput"></auth-input>

        <auth-input [model]="passwordInput"></auth-input>

        <auth-input [model]="passwordConfirmInput"></auth-input>

        <div class="checkbox-area" style="margin-left: 5px;">
            <input type="checkbox" [(ngModel)]="isRuleAndPPAccepted">
            <label>Akceptuje <a class="link" routerLink="/regulamin">Regulamin</a> i <a routerLink="/privacy-policy"
                    class="link">Politykę Prywatności</a></label>
        </div>
    </div>


    <footer>
        <div id="error-message">
            {{errorMessage}}
        </div>
        <auth-submit-button [text]="'Załóż konto'" [status]="submitButtonStatus" (onSubmit)="onSubmit()" />
        <span class="info">Masz już konto? <a routerLink="/auth/signIn" class="link">Zaloguj się</a></span>
    </footer>
</div>