<div id="banner">

</div>

<div id="layout-container">
    <div id="layout-content">
        <div class="layout-panel" id="hero">
            <div id="up-panel">
                @if (userProfile) {
                <div class="section" id="left-section">
                    <user-avatar [user]="userProfile" id="user-avatar" />

                    <user-nick [user]="userProfile" id="user-nick" />
                </div>
                }

                <div class="section" id="right-section">
                    @if (userProfile && !isOwnProfile) {
                    <user-profile-follow-button [userId]="userProfile.id" [following]="userProfile.following" />
                    }

                    <div id="menu-button">
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
            </div>
            <div id="description">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s
            </div>

            <div id="social-links">
                <div class="social"></div>
                <div class="social"></div>
                <div class="social"></div>
                <div class="social"></div>
                <div class="social"></div>
            </div>
            <div id="button-section">
                <div class="button" (click)="selectSection(null)">
                    Posty
                </div>
                <div class="button" (click)="selectSection('collection')">
                    Kolekcje
                </div>
                <div class="button">
                    Społeczności
                </div>
                <div class="button">
                    Statystyki
                </div>
            </div>
        </div>

        <div id="section">
            <router-outlet />
        </div>
    </div>
    <div id="layout-aside-menu">
        <div class="layout-panel" style="min-height: 250px;">

        </div>
        <div class="layout-panel" style="min-height: 600px;">

        </div>
        <div class="layout-panel" style="min-height:  300px;">

        </div>
    </div>
</div>