<div id="layout-container">
    <div id="layout-content">
        <div id="header">
            <div class="title">Poczekalnia</div>
            <span>Miejsce, do którego trafiają nowe, niezweryfikowane posty.</span> <br>
            <span>Oceniaj posty, aby mogły one trafić na główną stronę.</span>
        </div>

        <div id="sorting">
            <div id="left-section">
                @if (response) {
                Znaleziono {{getAmount(response.totalElements)}}
                }
            </div>
            <div id="right-section">
                <app-sorting-form [options]="sortOptions" [selectedOption]="sortOptions[0]"
                    (onChange)="changeSortOption($event)" />
            </div>
        </div>

        <app-post-container />
    </div>
    <div id="layout-aside-menu">
        <div class="layout-panel" style="min-height: 250px;">

        </div>
        <div class="layout-panel">
            <app-popular-hashtag />
        </div>
        <div class="layout-panel" style="min-height:  300px;">

        </div>
    </div>
</div>