<div id="wrapper">
    <header>
        <div id="back-button">
            <i class="fa-solid fa-chevron-left" (click)="moveBack()"></i>
            <h1>Resetowanie hasła</h1>
        </div>

        <h3>Zresetuj hasło, aby odzyskać dostęp do konta</h3>
    </header>

    <div id="form-container">
        <auth-input [model]="emailInput"></auth-input>
    </div>


    <footer>
        <div id="error-message">
            {{errorMessage}}
        </div>
        <div id="submin-button" (click)="onSubmit()">
            Resetuj hasło
        </div>
        <span class="info">Nie masz konta? <a routerLink="/auth/signUp" class="link">Zarejestruj się</a></span>
    </footer>
</div>