<div id="container">
    @if (isLoading) {
    <div id="loading">
        <div class="icon"><i class="fa-brands fa-x-twitter"></i></div>
        <div class="text">loading...</div>
    </div>
    }

    <div id="content">
        <blockquote class="twitter-tweet" data-media-max-width="560" data-align="center" data-theme="dark"
            data-widget-type="video" (load)="onLoad()">
            <a [href]="'https://twitter.com/Unusualsoft/status/'+content.content"></a>
        </blockquote>
    </div>
</div>