#container {
    width: 100%;
    min-height: 300px;

    position: relative;
    background-color: var(--color-background-30);

    display: flex;
    align-items: center;
    justify-content: center;

    #content {
        position: relative;
        z-index: 100;

        width: 100%;
    }

    #loading {
        position: absolute;
        width: fit-content;

        text-align: center;

        z-index: 10;

        .icon {
            font-size: 3em;
        }
    }
}
