//[]======================== Variables ========================[]
//Backgrounds
$background-color: #151b29;

//Text
$text-color-white: rgb(255, 253, 240);
$text-color-dark: #313640;

$link-color-blue: #00b3ff;
$link-color-blue-dark: #0481db;

$text-color-red: #ff6666;
