:root {
    --color-background: #151b29;
    --color-background2: #1d2333;
    --color-background3: #131823;
    --color-background4: #242a3d;
    --color-background5: #2e354a;

    --color-theme: #0099ff;
    --color-theme-accent: #0073f6;

    --color-text-white: rgb(255, 253, 240);
    --color-text-white-light: rgba(255, 255, 255, 0.3);
    --color-text-red: #ff6666;
    --color-text-dark-blue: #313640;

    --color-link-blue: #00b3ff;
    --color-link-blue-accent: #0481db;
}
