#container {
    width: 100%;
    min-height: 60px;

    background-color: var(--color-background-20);
    border-bottom: 2px solid var(--color-background-50);

    display: flex;
    align-items: center;
    padding: 0 10px;

    position: relative;
    z-index: 1000;

    position: sticky;
    top: 0;

    #menu-button {
        width: 36px;
        height: 36px;

        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 1.4rem;
        cursor: pointer;
        display: none;

        .fa-solid {
            position: absolute;
        }

        .fa-xmark {
            transform: scale(0);
        }

        &.active {
            .fa-bars {
                transform: scale(0);
            }
            .fa-xmark {
                transform: scale(1);
            }
        }

        @media (max-width: 1000px) {
            display: flex;
        }
    }

    #logo {
        width: fit-content;
        height: 100%;

        display: none;
        align-items: center;
        justify-content: center;

        cursor: pointer;
        margin-left: 8px;

        img {
            max-width: 120px;

            height: auto;

            object-fit: cover;
            display: block;
        }

        @media (max-width: 1000px) {
            display: flex;
        }
    }

    #user-section {
        display: flex;
        margin-left: auto;

        align-items: center;
        gap: 20px;

        #notification-button {
            width: 36px;
            height: 36px;

            background-color: rgba(255, 255, 255, 0.06);
            color: #5b5fc3;
            border-radius: 100%;

            text-align: center;
            line-height: 36px;

            position: relative;

            cursor: pointer;

            #counter {
                background-color: rgb(255, 96, 96);
                color: #ffffff;
                border-radius: 100%;

                font-size: 0.7em;

                width: 20px;
                height: 20px;

                line-height: 20px;
                font-weight: 500;

                position: absolute;
                top: -6px;
                right: -6px;
            }

            &:hover {
                background-color: rgba(255, 255, 255, 0.2);
            }
        }

        #signIn-button {
            padding: 5px 25px;
            border-radius: 12px;
            background-color: var(--color-theme);

            &:hover {
                cursor: pointer;
                background-color: var(--color-theme-accent);
            }
        }
    }
}
