#container {
    #header {
        margin-top: 20px;
        display: flex;
        gap: 10px;
        align-items: center;

        padding: 10px;
        border-radius: 10px;
        background-color: var(--color-background-50);

        i {
            font-size: 1.8em;
        }

        #amount {
            margin-left: auto;
        }
    }

    #wrapper {
        position: relative;
        overflow: hidden;
        padding: 10px 10px 100px 10px;
    }
}

#load-more-button {
    text-align: center;

    padding: 10px;
    border-radius: 10px;
    margin-top: 30px;

    border: 2px solid var(--color-background-100);
    background-color: var(--color-background-60);

    &:hover {
        cursor: pointer;
        border: 2px solid var(--color-background-120);
        background-color: var(--color-background-80);
    }
}
