<div id="wrapper">
    <header>
        <h1>Logowanie</h1>
        <h3>Zaloguj się i uzyskaj pełny dostęp</h3>
    </header>

    <div id="form-container">
        <div class="input-container">
            <a class="action link" routerLink="/auth/activeAccount">Email aktywacyjny nie dotarł?</a>
            <auth-input [model]="emailInput"></auth-input>
        </div>

        <div class="input-container">
            <a class="action link" routerLink="/auth/resetPassword">Zapomniałeś hasła?</a>
            <auth-input [model]="passwordInput"></auth-input>
        </div>
    </div>


    <footer>
        <div id="error-message">
            {{errorMessage}}
        </div>
        <div id="submin-button" (click)="onSubmit()">
            Zaloguj
        </div>
        <span class="info">Nie masz konta? <a routerLink="/auth/signUp" class="link">Zarejestruj się</a></span>
    </footer>
</div>