#container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    gap: 5px;
    max-height: 0;
    overflow: hidden;

    padding: 0 5px;

    #title {
        opacity: 0.5;
        font-size: 0.8em;
    }

    .hashtag {
        padding: 0 10px;
        border-radius: 200px;

        background-color: var(--color-background-30);
        color: var(--color-background-100);

        &:hover {
            cursor: pointer;

            background-color: var(--color-background-20);
            color: var(--color-background-110);
        }
    }

    &.active {
        margin-top: 5px;
        max-height: 200px;
    }
}
